.navbar {
  height: 74px;
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
  padding: 0 32px;
}

/* LEFT */
.left {
  display: flex;
  align-items: center;
}

/* CENTER (THIS FIXES ALIGNMENT) */
.center {
  flex: 1;
  display: flex;
  justify-content: center;
}

/* RIGHT */
.right {
  display: flex;
  align-items: center;
}
