body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --color-primary: #34C94B;   /* navbar, button text */
  --color-primary-dark: #00BD2B; /* hero highlight if needed */
  --color-black: #121212;     /* main background */
  --color-white: #FFFFFF;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: var(--color-black);
  color: var(--color-white);
}